<h2>Añade un Producto </h2>
<form (ngSubmit)="calcular()">
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText name="pro" [(ngModel)]="objet.nombre" > 
        <label for="float-input">Producto</label>
    </span>
    <span class="p-float-label">
        <input pInputText  id="float-input" type="text" name="cant" [(ngModel)]="objet.cantidad" > 
        <label for="float-input">Cantidad</label>
    </span>
    <span class="p-float-label">
        <input pInputText  id="float-input" type="text" name="pre" [(ngModel)]="objet.precio"> 
        <label for="float-input">Precio</label>
    </span>
    <span class="p-float-label">
        <input pInputText id="float-input" type="text" name="mar" [(ngModel)]="objet.marca" > 
        <label for="float-input">Marca</label>
    </span>

<button pButton type="submit" label="Añadir"></button>
<button pButton 
        type="button" 
        (click)="limpiar()" 
        class="p-button-warning" 
        iconPos="left" 
        icon="pi pi-trash"
        label="Limpiar"></button>
</form>

<div *ngFor="let i of datos">
    {{i.nombre}}
    {{i.cantidad}}
</div>
        <!-- <li>{{ nomb }} </li>
        <li>{{cant}}</li> -->
   