<form >
    <div class="row">
            
        <div class="p-col-12 p-md-4">
            <h2>Crea una Nueva Cuenta</h2>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 100px;"><i class="">Usuario</i></span>
                <input type="text" pInputText name="res"  >         
             </div>
                
             <p></p>
                
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 100px;"><i class="">Correo</i></span>
                <input type="text" pInputText name="vol"  >         
             </div>
             <p></p>
                
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 100px;"><i class="">Contraseña</i></span>
                <input type="text" pInputText name="vol"  >         
             </div>
                
             <p></p>
             <div class="p-inputgroup">
                Confirma Contraseña
                <input type="text" pInputText name="vol"  >         
             </div>
        
            <hr>
            <span>
                <button pButton 
                        type="submit" 
                        label="Calcular" 
                        class="p-button-help"
                        ></button>
            </span>
            <hr>
        <a routerLink="/ingresar/cuenta" style="background-color: whitesmoke;">Ya tengo una cuenta</a>
        <!-- routerlink manda la ruta el modulo donde estan las rutas hijas -->
        </div>
        

    
    </div>
       
</form>

