
<form >
    
    <div class="row">
            
        <div class="p-col-12 p-md-4">
            <h2>Calcular cilindro dado los siguientes parametros</h2>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 140px;"><i class="">Diametro( d )</i></span>
                <input type="text" pInputText name="res"  >         
            </div>
                
             <p></p>
                
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 140px;"><i class="">Altura( h )</i></span>
                <input type="text" pInputText name="vol"  >         
            </div>
             <p></p>
                
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 140px;"><i class="">Radio ( r )</i></span>
                <input type="text" pInputText name="vol"  >         
            </div>
                
             <p></p>
             <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 150px;"><i class="">Area Base ( Ab )</i></span>
                <input type="text" pInputText name="vol"  >         
            </div>
                
             <p></p>
        
            <hr>
            <span>
                <button pButton 
                        type="submit" 
                        label="Calcular" 
                        class="p-button-help"
                        ></button>
            </span>
            <hr>
            <a routerLink="/teoremap" style="background-color: rgba(255, 255, 255, 0.52); color: black;">Regresar</a>
        </div>
        

    
    </div>
       
</form>


